.message-box {
    min-width: 311px;
    border: 1px solid;
    display: flex;
    padding: auto;
    padding: 10px;
    justify-content: space-between;
    border-radius: 1em;
    border-left-width: 8px;
}
.success-message {
    color: #28a745;
    border-color: #28a745;
    border-right-color: #28a745;
    border-bottom-color: #28a745;
    background-color: #212529;
}
.btn-green {
    background-color: transparent;
    border-color: rgb(16, 105, 16);
    color: rgb(16, 105, 16);
    border-radius: 1em;
    border-width: medium;
    font-size: large;
    font-weight: bold;
}
.error-message {
    color: red;
    border-color: red;
    border-right-color: red;
    border-bottom-color: red;
    background-color: #161212;
}
.btn-red {
    background-color: transparent;
    border-color: red;
    color: red;
    border-radius: 1em;
    border-width: medium;
    font-size: large;
    font-weight: bold;
}

.messages-list {
    margin: 30px;
    border: 1px solid;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
    padding-bottom: 40px;
}
.client-message {
    border:  1px solid;
    margin-top:  10px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 780px;
}

.no-message-found {
    font-size: x-large;
    font-weight: 600;
}
.message-subject {
    background-color: #e9ecef;
    border-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.message-sender {
    text-align: end;
    padding-right: 8px;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    column-gap: 25px; 
    row-gap: 30px;
}
.form-row input {
    padding: 10px;
    width: 100%;   
}
.form-row-input {
    width: 100%;    
    border-radius: 8px;
    border: 1px solid;
}
.profile-form {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}
.profile-form-btn {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: x-large;
}
.right-side {
    color: white;
    align-items: center;
}
.right-side li {
    list-style: none;
}
.right-side .dropdown {
    margin-right: 20px;
    padding: 15px;
    position: absolute;
    background-color: white;
    color: black;
    visibility: hidden;
    display: none;
}
@media (max-width: 1270px) {
    .right-side .dropdown {
        right: 40px;
        margin-right: 20px;
    }
    .right-side {
        margin-right: 20px;
    }
}
.right-side .dropdown a{
    color: black;
}

.right-side .dropdown li{
    padding-inline: 15px;
    padding-bottom: 10px;
}

.right-side .dropdown li:hover{
    background-color: #ffc451;
}
.right-side .dropdown >ul {
    position: absolute;
}
.right-side .right-side-li:hover > ul{
    opacity: 1;
    /* top: 100%; */
    visibility: visible;
    display: block;
    background-color: white;
    color: black;
    z-index: 1000;
}