{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="AR - Gems ">
  <meta name="keywords" content=" ">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  

    <title>
        {% block title %}
            AR - Gems
        {% endblock title%}
    </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% block script_content %} {% endblock script_content %}

  {% include 'front_app/include/static_css.html' %}

 
</head>

<body>

  {% include 'front_app/header.html' %}

  {% block body_content %} {% endblock body_content %}
  
  {% include 'front_app/footer.html' %}
  
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'front_app/include/js_files.html'%}

</body>

</html>