<header class="u-clearfix u-header u-header" id="sec-4945"><div class="u-clearfix u-sheet u-valign-top u-sheet-1">
    <a href="" class="u-image u-logo u-image-1" data-image-width="301" data-image-height="198">
      <img src="/static/opal_assets/images/Capture1.PNG" class="u-logo-image u-logo-image-1">
    </a>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 500;">
        <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a href="/" class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" style="padding: 10px 20px;">HOME</a>
</li><li class="u-nav-item"><a href="gallery" class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" style="padding: 10px 20px;">GALLERY</a>
</li><li class="u-nav-item"><a href="#sec-018f" class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" style="padding: 10px 20px;">ABOUT-US</a>
</li><li class="u-nav-item"><a href="#sec-018f" class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" style="padding: 10px 20px;">CONTACT</a>
</li>
{% if user.is_superuser %}
<li class="u-nav-item"><a href="admin" class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" style="padding: 10px 20px;">Admin-Panel</a></li>
{% endif %}

{% if not user.is_authenticated%}
  <li class="u-nav-item"><a href="auth-page" class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" style="padding: 10px 20px;">SIGN-UP</a></li>
{% else %}
  <li class="u-nav-item">
    <a class="u-active-palette-1-base u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white" style="padding: 10px 20px;">
      <form action="{% url 'logout-request' %}" method="post">
        {% csrf_token %}
        <button type='submit' style="background: transparent; border: none;">LOG-OUT</button>
      
      </form>
    </a>
    
  </li>
{% endif %}

</ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a href="/" class="u-button-style u-nav-link">HOME</a>
</li><li class="u-nav-item"><a href="gallery" class="u-button-style u-nav-link">GALLERY</a>
</li><li class="u-nav-item"><a href="#sec-018f" class="u-button-style u-nav-link">ABOUT-US</a>
</li><li class="u-nav-item"><a href="#sec-018f" class="u-button-style u-nav-link">CONTACT</a>
</li>

{% if user.is_superuser %}
<li class="u-nav-item"><a href="/admin" class="u-button-style u-nav-link">ADMIN-PANEL</a></li>
{% endif %}

{% if not user.is_authenticated %}
  <li class="u-nav-item"><a href="auth-page" class="u-button-style u-nav-link">SIGN-UP</a></li>
{% else %}
  <li class="u-nav-item">
    <a class="u-button-style u-nav-link">
      <form action="{% url 'logout-request' %}" method="post">
        {% csrf_token %}
        <button type='submit' style="background: transparent; border: none;">LOG-OUT</button>
      
      </form>
    </a>
    
  </li>
{% endif %}

</ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
  </div>
</header>


